---
import { Icon } from "astro-icon/components";
const { cta } = Astro.props;
---

<section class="bg-black py-24">
  <div class="container mx-auto px-6 text-center">

    <h2 class="mx-auto text-xl font-extrabold uppercase leading-tight text-white lg:text-6xl">
      {cta.title}
      <br />
      <span class="bg-gradient-to-r from-red-500 via-pink-500 to-purple-600 bg-clip-text text-transparent">
        {cta.highlight}
      </span>
    </h2>

    <p class="mx-auto mt-8 max-w-2xl text-lg leading-8 text-gray-400">
      {cta.description}
    </p>

    <a
      href={cta.button.link}
      class="group mt-12 inline-flex items-center gap-3 rounded-full border border-white px-8 py-2 text-white transition hover:bg-white hover:text-black"
    >
      <span class="flex h-10 w-10 items-center justify-center rounded-full bg-gradient-to-r from-red-500 via-pink-500 to-purple-600">
      </span>

      <span class="font-semibold uppercase">
        {cta.button.text}
      </span>

      <Icon
        name={cta.button.icon}
        class="h-5 w-5 transition group-hover:translate-x-1"
      />
    </a>

  </div>
</section>