---
const { faq } = Astro.props;
---

<section class="py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2
      class="font-clash text-[36px] font-semibold
          leading-[93%] tracking-[0]
          md:text-[48px]
          lg:text-[50px] uppercase"
    >
      {faq.title}
      <span class="gradient-text">
        {" "}
        {faq.highlight}
      </span>
    </h2>

    <div class="mt-5 divide-y divide-neutral-200">
      {
        faq.items.map((faq) => (
          <details class="group py-6" open={faq.defaultOpen}>
            <summary
              class="
                  flex
                  cursor-pointer
                  list-none
                  items-center
                  justify-between
                  font-clash
                  text-[24px]
                  font-medium
                  leading-[28.8px]
                  tracking-normal
                "
            >
              <span>{faq.question}</span>

              <span class="text-[24px] transition group-open:rotate-45">+</span>
            </summary>

            <p
              class="
                  mt-5
                  max-w-3xl
                  font-geist
                  text-[18px]
                  leading-[28.8px]
                  tracking-normal
                  text-[#010101]
                "
            >
              {faq.answer}
            </p>
          </details>
        ))
      }
    </div>
  </div>
</section>
