---
const { faq } = Astro.props;
const items = faq.items.map((item, index) => ({
  ...item,
  isDefaultOpen: item.defaultOpen || index === 0,
}));
---

<section class="py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2
      class="font-clash text-[36px] font-semibold
          leading-[93%] tracking-[0]
          md:text-[48px]
          lg:text-[50px] uppercase"
    >
      {faq.title}
      <span class="gradient-text">
        {" "}
        {faq.highlight}
      </span>
    </h2>

    <div class="mt-8">
      <div class="h-px w-full bg-gradient-to-r from-[#FEC053] via-[#F2203E] via-50% to-[#5342D6] opacity-90"></div>

      {
        items.map((faq, index) => (
          <>
            <details class="group py-6" open={faq.isDefaultOpen} data-faq-item>
              <summary
                class="
                    flex
                    cursor-pointer
                    list-none
                    items-center
                    justify-between
                    font-clash
                    text-[24px]
                    font-medium
                    leading-[28.8px]
                    tracking-normal
                  "
              >
                <span>{faq.question}</span>

                <span class="text-[24px] transition group-open:rotate-45">
                  +
                </span>
              </summary>

              <p
                class="
                    mt-5
                    max-w-3xl
                    font-geist
                    text-[18px]
                    leading-[28.8px]
                    tracking-normal
                    text-[#010101]
                  "
              >
                {faq.answer}
              </p>
            </details>

            {index < items.length - 1 && (
              <div class="h-px w-full bg-gradient-to-r from-[#FEC053] via-[#F2203E] via-50% to-[#5342D6] opacity-90"></div>
            )}
          </>
        ))
      }

      <div class="h-px w-full bg-gradient-to-r from-[#FEC053] via-[#F2203E] via-50% to-[#5342D6] opacity-90"></div>
    </div>
  </div>
</section>

<script>
  const accordionItems = document.querySelectorAll("[data-faq-item]");

  accordionItems.forEach((item) => {
    item.addEventListener("toggle", () => {
      if (!item.open) return;

      accordionItems.forEach((otherItem) => {
        if (otherItem !== item) {
          otherItem.open = false;
        }
      });
    });
  });
</script>
