---
import { Image } from "astro:assets";

const { navbar } = Astro.props;
---

<header class="relative">
  <div
    class="mx-auto max-w-7xl px-4 py-3 backdrop-blur-md sm:px-5 sm:py-4 mt-3"
  >
    <div
      class="flex flex-col gap-4 lg:flex-row lg:items-center lg:justify-between lg:gap-8"
    >
      <!-- Logo -->
      <a href="/" class="shrink-0">
        {
          navbar?.logo && (
            <Image src={navbar.logo} alt="Logo" width={80} height={80} />
          )
        }
      </a>
      <!-- Navigation -->
      <nav class="flex flex-wrap justify-center gap-2">
        {
          navbar?.navigation?.map((item, index) => (
            <a
              href={item.href}
              class:list={[
                "rounded-full px-5 py-2 font-clash text-[18px] font-bold leading-none tracking-normal transition",
                index === 0 ? "gradient-bg text-white" : "hover:bg-gray-100",
              ]}
            >
              {item.title}
            </a>
          ))
        }
      </nav>

      <!-- Button -->
      <a
        href={navbar?.buttonLink}
        class="hidden lg:inline-flex rounded-full p-[1px] bg-[radial-gradient(50%_83.67%_at_50%_50%,#FEC053_0%,#F2203E_33%,#B729A8_65%,#5342D6_100%)]"
      >
        <span
          class="flex h-[45px] w-[170px] items-center justify-center gap-2 rounded-full bg-white px-3 font-clash text-[17px] font-medium leading-none tracking-normal"
        >
          <span class="w-7 h-7 rounded-full gradient-bg"></span>
          {navbar?.buttonText}
        </span>
      </a>
    </div>
  </div>
</header>
