---
const { studio } = Astro.props;
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<section class="bg-white py-12 lg:py-20">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="rounded-sm bg-black px-6 py-10 lg:px-14 lg:py-16">
      <!-- Top -->
      <div class="mb-16">
        <span class="text-sm text-gray-400">
          {studio.sectionNumber}/{studio.sectionTitle}
        </span>
      </div>

      <!-- Heading -->
      <div class="mx-auto max-w-5xl text-center">
        <h2
          class="text-3xl font-bold leading-tight text-white
          text-xl lg:text-4xl"
        >
          {studio.title}
        </h2>

        <p class="mx-auto mt-8 max-w-4xl text-lg leading-relaxed text-gray-300">
          {studio.description}
        </p>
      </div>

      <!-- Clients -->
      <div class="mt-20">
        <h3 class="mb-8 text-center text-3xl font-medium text-white">
          {studio.clientTitle}
        </h3>

        <div class="flex flex-wrap items-center justify-center gap-8 lg:gap-10">
          {
            studio.clients.map((client) => (
              <Image
                src={client.logo}
                alt={client.alt}
                width={160}
                height={60}
                class="h-10 w-auto object-contain opacity-90 transition hover:opacity-100"
              />
            ))
          }
        </div>
      </div>

      <!-- Button -->
      <div class="mt-16 flex justify-center">
        <a
          href={studio.buttonLink}
          class="inline-flex items-center gap-4 rounded-full border border-violet-600 bg-[#171717] px-6 py-4 text-xl text-white transition hover:bg-[#202020]"
        >
          <!-- <span
            class="flex h-10 w-10 items-center justify-center rounded-full
            bg-gradient-to-r from-orange-500 via-pink-500 to-violet-600"
          >
            <Icon
              name={studio.buttonIcon}
              class="h-5 w-5 text-white"
            />
          </span> -->

          <span>{studio.buttonText}</span>
        </a>
      </div>
    </div>
  </div>
</section>
