---
import { Image } from "astro:assets";

const { teamCulture } = Astro.props;
---

<section class="">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="grid grid-cols-1 items-center gap-16 lg:grid-cols-2">
            <!-- Left Content -->
            <div>
                <h2
                    class="font-clash
                        lg:text-[40px]
                        text-[30px]
                        font-semibold
                        leading-[114%]
                        tracking-normal uppercase"
                >
                    {teamCulture.title}
                    <span class="gradient-text">
                        {" "}
                        {teamCulture.highlight}
                    </span>
                </h2>

                <p
                    class="mt-6
                        font-geist
                        text-[20px]
                        leading-[120%]
                        tracking-normal"
                >
                    {teamCulture.descriptionOne}
                </p>

                <p
                    class="mt-4
                    font-geist
                    text-[20px]
                    leading-[120%]
                    tracking-normal"
                >
                    {teamCulture.descriptionTwo}
                </p>
            </div>

            <!-- Right Image -->
            <div>
                <Image
                    src={teamCulture.image}
                    alt={teamCulture.imageAlt}
                    width={900}
                    height={700}
                    class="w-full rounded-lg object-cover"
                />
            </div>
        </div>
    </div>
</section>
