---
import { Image } from "astro:assets";

const { testimonials } = Astro.props;
---

<section class="relative bg-white">
  <div
    class="
      mx-auto max-w-7xl
      px-6 py-14
      lg:px-8
    "
  >
    <!-- Section Heading -->
    <h2
      class="
        font-clash
        text-[36px] font-semibold
        leading-[93%] tracking-[0]
        md:text-[48px]
        lg:text-[50px]
      "
    >
      {testimonials.title}

      <span
        class="
        gradient-text
        "
      >
        {" "}
        {testimonials.highlight}
      </span>
    </h2>

    <!-- Testimonials -->
    <div
      class="
        mt-8 grid gap-12
        lg:grid-cols-2
        lg:gap-16
      "
    >
      {
        testimonials.items.map((item) => (
          <article>
            <!-- Quote -->
           <p
              class="
                font-geist
                text-[28px]
                leading-[114%]
                tracking-normal
                text-black
              "
            >
              {item.quote}
            </p>
            <!-- User -->
            <div
              class="
                mt-10 flex
                items-center gap-5
                sm:mt-12
              "
            >
              <Image
                src={item.image}
                alt={item.name}
                width={80}
                height={80}
                class="
                  h-16 w-16
                  shrink-0 rounded-full
                  object-cover
                  sm:h-20 sm:w-20
                "
              />

              <div>
               <h3
                  class="
                    font-geist
                    text-[25px]
                    leading-[114%]
                    tracking-normal
                    text-black
                  "
                >
                  {item.name}
                </h3>
                <p
                  class="
                    mt-1
                    font-geist
                    text-[16px]
                    font-light
                    leading-[114%]
                    tracking-normal
                    
                  "
                >
                  {item.designation}
                </p>
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </div>

  <!-- Full-width Bottom Gradient Border -->
  <div
    class="
      pointer-events-none
      absolute inset-x-0 bottom-0
      h-[3px]
      bg-gradient-to-r
      from-orange-500
      via-pink-500
      to-violet-600
    "
    aria-hidden="true"
  ></div>
</section>